{% extends "layout.html" %}
{% block content %}

<div class="panel panel-default">
    <div>
        <div class="container-fluid">
            <div style="margin-bottom: 10px"> {# 这里是为了给按钮与表格table有点距1离 #}
                <form method="get">
                    <a class="btn btn-success" href="/export/sql/add/" target="_blank">新增SQL</a>
                    <div style="float:right;width: 500px; ">
                        <div class="input-group">
                            <input type="text" name="num" value="{{search_num}}" class="form-control"
                                   placeholder="请输入标题进行搜索">
                            <span class="input-group-btn">
                            <button class="btn btn-default" type="submit">
                                <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                            </button>
                                     </span>
                        </div><!-- /input-group -->
                    </div>
                </form>
            </div>


            <div class="panel panel-default">
                <!-- Default panel contents -->
                <div class="panel-heading">
                    <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
                    SQL列表
                </div>

                <!-- Table添加一个边框 borderd -->
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th>业务线</th>
                        <th>类型</th>
                        <th>标题</th>
                        <th>SQL描述</th>
                        <th>提出者</th>
                        <th>SQL查询开始时间</th>
                        <th>SQL查询结束时间</th>
                        <th>操作</th>
                    </thead>
                    <tbody>
                    {% for field in queryset %}
                    <tr>
                        <th>{{ field.get_bu_display }}</th>
                        <th>{{ field.get_module_display }}</th>
                        <th>{{ field.title }}</th>
                        <th>{{ field.describe }}</th>
                        <th>{{ field.proposer }}</th>
                        <th>{{ field.query_start|date:"Y 年 m 月 d 日 " }}</th>
                        <th>{{ field.query_end|date:"Y 年 m 月 d 日 " }}</th>
                        <td>
                            <a href="/export/query_load/?id={{field.id}}" class="btn btn-danger btn-xs">点击查询</a>
<!--                            <a href="#" class="btn btn-primary btn-xs">预览</a>-->
                            <a href="/export/sql/edit/?sqlid={{field.id}}" class="btn btn-primary btn-xs">编辑</a>
                            <a href="/export/sql/delete/?sqlid={{field.id}}" class="btn btn-primary btn-xs">删除</a>

                        </td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>

            <div>
                <ul>
                    {{ fieldlist }} <br>
                    {% for i in raws %}
                    {{i}} <br>
                    {% endfor %}
                </ul>
            </div>

            <div>
                <nav aria-label="Page navigation">
                    <ul class="pagination">
                        {{ page_str_list }}
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>


{% endblock %}


